* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
  padding: 1rem;
  a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}
.mobile-icon img {
  width: 50px;
  height: 50px;
  display: none;
}
.imageBox {
  display: flex;
  /* justify-content: center; */
  align-items: center;
    a {
      margin-left:1rem;
    }
}

.imageBox span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.navBar a:hover{
  color: orange;
  transition: 0.8s;
}

.imageBox  img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.banner {
  background-image: url(images/banner.jpg);
  height: 400px;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  margin: 0 20%;
  top: 2rem;
}
.container-card {
  display: flex;
  justify-content:space-between;
  margin: 0 10%;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.card {
  width: 300px;
  border: 1px solid black;
  border-radius: 30px;
  padding-bottom: 25px;
}

.card h3 {
  padding: 10px;
  text-align: center;
}

.card p {
  padding: 0px 20px;
  
}

.card-img {
  width: 100%;
  border-radius: 30px 30px 0 0;

}
.form {
  margin: 0 20%;
  background-color: rgb(139, 139, 139);
  padding: 30px;
  border-radius: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type=submit] {
  width: 100%;
  padding: 13px 0px;
  background-color: aqua;
  border: none;
  color: rgb(58, 57, 57);
  margin-top: 20px;
  font-size: 20px;
}

input[type=text]:focus {
  background-color: aquamarine;
}

input[text=text]:hover {
  background-color: aqua;
}

.footer {
  background-color: chocolate;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

@media (max-width:600px){
  .imageBox {
    display: none;
  }

  .mobile-icon img {
    display: block;
  }

  .navBar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }
  .novDiv {
    display: none;
  }
  .mobileLink {
    display: flex;
    flex-direction: column;
  }

}
